$pink: #e91e63;
$pink-light: #ff6090;
$pink-dark: #b0003a;

$blue: #03a9f4;
$blue-light: #67daff;
$blue-dark: #007ac1;

$bold: 900;
$light: 100;

#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  overflow: hidden;
}

a:visited {
  color: inherit;
}

p {
  font-size: 1.61rem;
  line-height: 2.678rem;
  letter-spacing: 1.823px;
  font-weight: $light;
}

main {
  flex: 1 0 auto;

  .mainPage {
    .portfolio-links {
      display: grid;
      grid-gap: 16px;
      grid-template-columns: repeat(1fr, 33%);
      grid-auto-flow: column;
      margin: 40px auto;
      text-align: center;

      a {
        font-size: 2rem;
        font-weight: 100;
        color: black;

        &:hover {
          color: $pink;
          text-decoration: underline;
        }
      }
    }

    .grid-container {
      display: grid;
      grid-gap: 10px;
      margin: 40px 0;
      grid-template-columns: repeat(3, 33%);
      grid-auto-rows: minmax(33%, auto);

      img {
        max-width: 100%;
        min-height: 100%;
      }
    }
  }
}

* {
  font-family: Raleway, sans-serif;
}

.bold {
  font-weight: 900;
}

.light {
  font-weight: 100;
}

.enter {
  position: relative;
  background-color: black;
  background-image: url(/images/bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;

  @media screen and (min-width: 2000px) {
    background-size: cover;
  }

  .welcome {
    display: flex;
    flex-direction: column;

    .welcomeTxt {
      position: absolute;
      margin: 0 -400px;
      top: -20px;
      left: 0;
      right: 0;
      text-align: center;
      font-family: Moret;
      font-size: 16rem;
      line-height: 1em;

      @media screen and (min-width: 2000px) {
        font-size: 24rem;
      }
    }

    .enterBtn {
      background: $pink;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 80px;
      max-width: 160px;
      margin: auto;
    }
  }
}

footer p {
  font-size: 1.25em;
  padding: 0;
  margin: 8px;
}

.active {
  color: $blue !important;
  text-decoration: underline;
}

.about {
  margin-top: 80px;
  .banner {
    margin: 0 -280px;
    background-size: cover;
    min-height: 240px;
    background-image: url(/images/jeep.jpg);
  }
  .content {
    margin: 80px 0;
    .title {
      font-weight: $bold;
      font-size: 6rem;
    }
  }
  a {
    color: $pink;
    margin-right: 20px;
  }
  a:hover {
    color: $blue;
    text-decoration: underline;
  }
}

.contact {
  margin-bottom: 80px;
  .large-title {
    font-size: 16rem;
    margin: -40px -200px;
    font-family: Moret;
    font-weight: bold;
    text-align: center;
  }

  .content {
    display: grid;
    grid-template-areas: "l r";
    grid-template-columns: 2fr 3fr;
    margin-top: 80px;
    .left {
      position: relative;
      overflow: hidden;
      grid-area: l;

      li {
        margin-bottom: 20px;

        &:hover .contact-reveal {
          transition: opacity 5s;
          opacity: 1;
          transition: transform 0.5s;
          transform: translateX(0);
          color: $pink;
        }

        &:hover .contact-item {
          cursor: pointer;
          color: $blue;
          text-decoration: underline;
        }

        .contact-item {
          font-size: 2rem;
          display: inline-block;
          margin-right: 20px;
        }

        .contact-reveal {
          // transition: opacity 0.1s;
          opacity: 0;
          transform: translateX(600px);
        }
      }
    }
    .right {
      background-image: url(/images/jeep.jpg);
      background-size: cover;
      grid-area: r;
      min-height: 400px;
      min-width: 1000px;
      position: relative;
      // right: -40%;
      left: 30%;
    }
  }
}
